lang: c

# Simulate two architectures (only used for testing here!)
env:
  - ARCH=one
  - ARCH=two
 
script:
  - cp upload.sh upload-$ARCH.sh
  - bash ./upload.sh upload-$ARCH.sh

branches:
  except:
    - # Do not build tags that we create when we upload to GitHub Releases
    - /^(?i:continuous)$/
